@model UserRegistration.Models.Users.UserIndexViewModel

@{
    ViewBag.Title = "Users";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink(UserRegistration.Resources.User.Register, "Register", new { }, new { @class = "btn btn-primary" })

<hr />

@Html.Partial("IndexListPartial", Model)


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function () {
            var table = $('#userTable').DataTable();
        });
    </script>
}
